.formation-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 20px;
    width: 100%;
    h2 {
        color : #000000;
        
    }
    .date-formation{
        font-family: 'Segoe UI';
        color: rgb(139, 90, 0);
    }

    .formation-title{
        font-family: 'Cairo Play';
        font-weight: bold;
        font-size: 1.5em;

    }
    
}
@media screen and (max-width:768px) {
    .formation-container{
        padding: 20px 0 20px 0;
        width: 95%;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
}


