.formation-container {
    display: flex;
    flex-direction: column;
    background-color: #344966;
    padding: 2rem;
    border-radius: 20px;
    width: 100%;
    h2 {
        color : #fff;
    }
    article {
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        padding: 0.5rem;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        background-color: #ebdfcd;
        h3 {
            margin : 0;
        }
        p {
            margin-bottom: 0;
        }
    }
}
@media screen and (max-width:768px) {
    .formation-container{
        padding: 20px 0 20px 0;
        width: 95%;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        article {
            width: 80%;
            margin-bottom: 0;
            padding: 0.5rem;
        }
    }
}


