.header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;    
    
    .banner-image {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: visible;
      img {
        position: absolute;       
        width: 100%;
        height: 100vh;
        object-fit: cover;
        filter: opacity(10);
      }      
    }     
    
    .banner-text {
      position: relative;
      bottom: 0px;
      display: flex;
      z-index: 2;
      width: 100%;
      background-color: rgba(243, 166, 131, 0.363);
      padding: 20px;
      box-sizing: border-box;
      color: #fff;
      font-size: 1.5em;
      text-align: end;
    }  
  }
}

@media screen and (max-width :1080px) {
  .banner-text {
    font-size: 1.5em;
  }
}

@media screen and (max-width :768px) {
  .banner-text {
    font-size: 1em;
  }
  
}