:root {
  --color-bleufonce: #111A2C;  //Utiliser text-color : #FFF
  --color-bleuindigo: #344966;
  --color-bleuclair: #b4cded; 
  --color-creme: #f0f4ef; 
  --color-vert: #bfcc94; 
} 

html {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background-color: #F0F4EF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

